<div class="modal fade modalFeedback" id="feedbackForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
        <div class="modal-header">
            <img src="~/images/logos/web_logo_top.png" alt="Эковат-Сервис"/>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        
        <div id="ecovat-formfeedbackInputs" class="col-md-12 feedbackForm">
            <div class="modal-body">

            <form id="ecovat-feedbackForm">
                @Html.AntiForgeryToken()
                <!--ИМЯ-->
                <div class="form-group mb-3">
                    <label class="col-form-label">Как Вас зовут:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackName"
                        name="name">
                </div>
                <!--ТЕЛЕФОН-->
                <div class="form-group mb-3">
                    <label class="col-form-label">Ваш телефон:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackPhone"
                        name="phone">   
                </div>
                <!--EMAIL-->
                <div class="mb-3">
                    <label for="email" class="col-form-label">EMail:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackEmail"
                        name="email">   
                </div>
                <!--MESSAGE-->
                <div class="mb-3">
                    <label for="message" class="col-form-label">Вопрос:</label>
                    <textarea    
                        class="form-control" 
                        id="ecovat-feedbackMessage"
                        name="message"
                        rows="5"></textarea>
                </div>
            </form>
            </div>

            <div class="modal-footer">
            @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
            <button type="submit" class="btn btn-primary feedback-confirm-btn"
                onclick="sendFeedbackForm()">
                Отправить
            </button>
            </div>
        </div>

        <div id="ecovat-formfeedbackInputs-successPost" class="col-md-12 feedbackForm-results" style="display: none">
            <br />
            <div>
                <img src="~/images/FeedbackForm/galochka.png" />
                <div class="lead with-text-indent">
                    <p>Спасибо за Ваше обращение.</p>
                    <p>Мы с Вами свяжемся.</p>
                </div>
            </div>
            <br />
            <div>
                <div class="lead with-text-indent">
                    <p>Вы всегда можете позвонить нам по телефону:</p>
                    <div class="header-contacts-tel font-size-xlarger">+7(931)004 86 70</div>
                    <div class="header-contacts-tel font-size-xlarger">+7(812)934 41 44</div>
                </div>
                <br />
                <div class="lead with-text-indent">
                    <p>или отправить нам сообщение по электронной почте:</p>
                    <div class="header-contacts-tel font-size-xlarger">mail@ecovat-service.ru</div>
                </div>
            </div>
            <br />
        </div>


        <div id="ecovat-formfeedbackInputs-failPost" class="col-md-12 feedbackForm-results" style="display: none">
            <br />
            <div>
                <img src="~/images/FeedbackForm/krestik.png" class="fail-image"/>
                <br />
                <br />
                <div class="lead with-text-indent">
                    <p>Во время отправки Вашего сообщения произошла ошибка.</p>
                </div>
            </div>
            <br />
            <div>
                <div class="lead with-text-indent">
                    <p>Попробуйте связаться с нами по телефону:</p>
                    <div class="header-contacts-tel font-size-xlarger">+7(931)004 86 70</div>
                    <div class="header-contacts-tel font-size-xlarger">+7(812)934 41 44</div>
                </div>
                <br />
                <div class="lead with-text-indent">
                    <p>или отправить нам сообщение по электронной почте:</p>
                    <div class="header-contacts-tel font-size-xlarger">mail@ecovat-service.ru</div>
                </div>
            </div>
            <br />
        </div>
    </div>
  </div>
</div>


