<div class="modal fade" id="feedbackForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      
        
        <div id="ecovat-formfeedbackInputs" class="col-md-12 ">
            <div class="modal-body">

            <form id="ecovat-feedbackForm">
                @Html.AntiForgeryToken()
                <!--ИМЯ-->
                <div class="form-group mb-3">
                    <label class="col-form-label">Как Вас зовут:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackName"
                        name="name">
                </div>
                <!--ТЕЛЕФОН-->
                <div class="form-group mb-3">
                    <label class="col-form-label">Ваш телефон:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackPhone"
                        name="phone">   
                </div>
                <!--EMAIL-->
                <div class="mb-3">
                    <label for="email" class="col-form-label">Укажите Ваш EMail:</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="ecovat-feedbackEmail"
                        name="email">   
                </div>
                <!--MESSAGE-->
                <div class="mb-3">
                    <label for="message" class="col-form-label">Вопрос:</label>
                    <textarea    
                        class="form-control" 
                        id="ecovat-feedbackMessage"
                        name="message"></textarea>
                </div>
            </form>
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary"
                onclick="sendFeedbackForm()">
                Отправить
            </button>
            </div>
        </div>

    </div>
  </div>
</div>


