<div class="modal fade" id="contactsForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">  
            <div class="header-contacts">
                <div class="header-contacts-tel font-size-larger">+7(931)004 86 70</div>
                <div class="header-contacts-tel font-size-larger">+7(812)934 41 44</div>
                <div class="header-contacts-tel font-size-larger">mail@ecovat-service.ru</div>
            </div>
        </div>
    </div>
</div>