/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar-brand {
    margin-left: 0rem;
}

.navbar-brand img {
    max-width: 200px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.header-contacts {
/*    border: 3px solid #6c757d;
    border-radius: 5px;*/
    padding:1em;
    display: flex;
    flex-direction: column;
}

.header-contacts .header-contacts-tel {
    text-align: center;
    font-weight: 600;
}

.header-contacts .header-contacts-mail {
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
}

.footer-data {
    margin-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-data .footer-data-item {
    text-align: center;
    font-weight: 600;
}

.footer-data .footer-data-item-name {
    text-align: center;
    font-size:24px;
    font-weight: 900;
}

.navbar-header-contacts {
    justify-content:flex-end;
}

.without-backgroundimage {
    background-image:none !important;
}

.justify-content-center {
    justify-content:center;
}

.with-text-indent {
    text-indent: 1.5em;
}

.text-align-center {
    text-align:center;
}

.advatages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.advatages h1 {
    display: inline;
}

.advatages span {
    font-size: 2rem;
    margin-left: 10px;
}

.advatages img {
    max-width: 80px;
}

.font-size-larger {
    font-size: x-large;
}

a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar .nav-item {
    text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    margin-bottom: 60px;
    color: #5a5a5a;
}

.footer {
    width: 100%;
    white-space: nowrap;
}

    .footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

.border-top {
    border-top: 1px solid #60c53f !important;
}

.border-bottom {
    border-bottom: 1px solid #60c53f!important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/*carousel*/
.carousel {
    margin: 0 auto;
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    color: black;
}

.carousel-caption p {
    font-size: 1.25rem;
}

.carousel-item {
    text-align: center;
    height: 30rem;
}

.carousel-item.firstslide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/carousel/ec_sopr_modified.png');
}

.carousel-item.secondslide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/carousel/ec_proect_modified.png');
}

.carousel-item.thirdslide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/carousel/consalting_modfied.png');
}

.carousel-item > img {
    /*        position: absolute;
    top: 0;
    left: 0;*/
    height: 32rem;
    margin-left: -250px;
    /* margin: auto;*/
}

/*marketing*/
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing .col-lg-4 img {
    width:80px;
    height:80px;
}

/*features*/
.featurette-divider {
    color: #60c53f;
    margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}

.featurette img {
    max-width: 100%;  
    max-height:320px;
}

.featurette .col-md-5 {
    text-align: center;
}


/* RESPONSIVE CSS  */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.75rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 1rem;
    }
}

