@page
@model IndexModel
@{
    ViewData["Title"] = "Эковат-Cервис Главная";
}



<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item firstslide active">
            @*<img src="~/images/carousel/ec_sopr_kulaki.jpg" />
            <img src="~/images/carousel/ec_sopr_modified_2.png" />
            <img src="~/images/carousel/ec_sopr_modified.png" />*@
            @*<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>*@

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Экологическое сопровождение</h1>
                    <p>
                    Оценка и анализ действующей системы экологического менеджмента и повышения его эффективности. 
                    Подготовка и сдача отчетности.
                    </p>
                    @*<p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>*@
                </div>
            </div>
        </div>
        <div class="carousel-item secondslide">
            @*<img src="~/images/carousel/ec_proect.jpg" />*@    
            <div class="container">
                <div class="carousel-caption  text-start">
                    <h1>Экологическая документация</h1>
                    <p>
                    Разработка и согласование экологической документации (проектов СЗЗ, 
                        НДС, ПНООЛР, паспортов отходов и др).
                    </p>
                    @*<p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>*@
                </div>
            </div>
        </div>
        <div class="carousel-item thirdslide">
            @*<img src="~/images/carousel/consalting.jpg" />*@   
            <div class="container">
                <div class="carousel-caption  text-start">
                    <h1>Отчетность</h1>
                    <p>
                    Комплексные расчеты по действующим законодательным нормативам в рамках отчетных 
                    периодов (2-ТП-отходы, 2-ТП-воздух и др).
                    </p>
                    @*<p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>*@
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="marketing">

    <div class="feature-quickaccess row">
        <div class="feature-quickaccess-item col-md-2">Экологическое сопровождение</div>
        <div class="feature-quickaccess-item col-md-2">Паспорта отходов</div>
        <div class="feature-quickaccess-item col-md-2 short-word">НДС</div>
        <div class="feature-quickaccess-item col-md-2 short-word">СЗЗ</div>
        <div class="feature-quickaccess-item col-md-2">ПМООС\ МООС</div>
    </div>

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Экологическое сопровождение</h2>
            <p class="lead">
                Возьмем на себя подготовку, разработку и согласование экологической документации, расчеты нормативов,
                составление отчетности, заполнение декларации НВОС, работу с согласующими инстанциями.
                Экологический аудит, консалтинг. Быстро и эффективно адаптируемся к изменениям законодательства.
                Экологическое сопровождение существенно сокращает затраты на содержание штатного эколога.
            </p>
            <p>
                От 40 тысяч в месяц + отчеты от 10 тысяч.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/images/carousel/razrab.jpg.jpg" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Паспорта отходов</h2>
            <p class="lead">
                Паспорта опасных отходов должны иметь все предприятия (индивидуальные предприниматели и юридические лица),
                в процессе деятельности которых образуются отходы (включая старые люминесцентные
                лампы (1-й класс опасности) и мусор от уборки
                бытовых помещений (4-й класс опасности)).
                Паспорта опасных отходов оформляются на каждый отдельный вид отходов.
                Штрафы для юридических лиц за отсутствие паспортов - от 100 до 250 тысяч рублей или
                приостановление деятельности до 90 дней.
            </p>
            <p>
                От 2500 до 4000 рублей за паспорт.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/features/passport.png" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">НДС<span class="text-muted"> (Проект нормативов допустимых сбросов)</span></h2>
            <p class="lead">
                Необходим всем организациям, осуществляющим сброс сточных вод в водные объекты.
                Срок действия - 7 лет, если на объекте не изменились более чем на 30 % годовой
                объем сточных вод, методы их очистки, технология производства (увеличение \ сокращение мощностей,
                установка дополнительного оборудования), перечень сбрасываемых веществ.
            </p>
            <p>
                От 40-50 тысяч за проект.
            </p>
        </div>
        <div class="col-md-5 ">
            <img src="~/images/features/nds.png" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7  order-md-2">
            <h2 class="featurette-heading">СЗЗ<span class="text-muted"> (Проект санитарно-защитной зоны)</span></h2>
            <p class="lead">
                Требуется предприятиям в любом случае, так как в нем же и обосновывается отсутствие необходимости
                установления СЗЗ.
                Решение об установлении СЗЗ выдается Роспотребнадзором.
                Санитарно-защитная зона и ее границы устанавливаются бессрочно.
                Исключение – случаи, когда предприятие внедряет крупные изменения в производственный процесс.
                За счет чего увеличивается количество источников выброса вредных веществ в атмосферу и т.д.
            </p>
            <p>
                От 80 тысяч за проект (в зависимости от предприятия).
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/features/szz.png" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">ПМООС\МООС<span class="text-muted"> (Перечень мероприятий по охране окружающей среды)</span></h2>
            <p class="lead">
                Для всех организаций, которые занимаются размещением, проектированием, строительством, реконструкцией,
                вводом в эксплуатацию, эксплуатацией, консервацией и ликвидацией зданий, строений, сооружений и иных объектов,
                оказывающих прямое или косвенное негативное воздействие на окружающую среду.
                От 100 тысяч за проект.
            </p>
            <p>
                От 100 тысяч за проект.
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/images/features/perechen.jpg" />
        </div>
    </div>

    <!-- /END THE FEATURETTES -->

    <br />

    <hr class="featurette-divider">

    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <div class="advatages">
                <div>
                    <img src="~/images/logos/web_logo_top_flower.png" />
                </div>
                <div>
                    <h1>Эковат-Сервис </h1>
                </div>
                <div>
                    <span> - это</span>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/marketing/experience.png" />
            <h2>Опыт</h2>
            <p>Более 15 лет в сфере экологии</p>
            @*<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>*@
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <img src="~/images/marketing/guarantee.png" />
            <h2>Гарантии</h2>
            <p>Cогласование во всех инстанциях</p>
        </div>

        <div class="col-lg-4">
            <img src="~/images/marketing/price.png" />
            <h2>Цены</h2>
            <p>Делаем интересные ценовые предложения</p>
        </div>
    </div>

    <br />

    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <p class="lead with-text-indent">
                Компания <b>"Эковат-Сервис"</b> работает в сфере экологического проектирования уже более 15 лет.

                Мы имеем опыт взаимодействия как с малыми, так и с большими предприятиями из разных сфер:
                энергетика, строительство, топливная и нефтедобывающая промышленность, газопроводы,
                автотранспортные предприятия, в т.ч. железнодорожный транспорт, фармацевтика,
                пищевая промышленность, сельское хозяйство, в т.ч. животноводство.
            </p>

            <p class="lead with-text-indent">
                Мы в <b>"Эковат-Сервис"</b> придерживаемся персонализированного подхода к каждому
                клиенту - сопровождаем и консультируем вас на каждом этапе подготовки,
                информируем о действиях в инстанциях, открыты в вопросах ценовой политики
                и нацелены на долгосрочное партнервство.
            </p>

            <p class="lead with-text-indent">
                <b>"Эковат-Сервис"</b> предоставляет услуги по поддержке Вашего бизнеса в сфере
                экологического сопровождения как в контексте постоянного партнера по ведению операционной деятельности,
                так и в подготовке конкретной документации по запросу.
            </p>

            <p class="lead with-text-indent">
                В <b>"Эковат-Сервис"</b> работа всегда доводится до результата: если нужно обжалование или дополнительное
                согласование - мы это сделаем.
            </p>
        </div>
    </div>
    <br />

</div><!-- /.container -->




