@page
@model IndexModel
@{
    ViewData["Title"] = "Эковат-сервис";
}

<div class="text-center">
    <h1 class="display-4">Эковат-сервис</h1>
    <h2>Экологическое проектирование</h2>
    <p>Сайт в разработке</p>
</div>
