@page
@model IndexModel
@{
    ViewData["Title"] = "Эковат-Cервис Главная";
}

<div class="text-center">
    <h1 class="display-4">Наши контакты</h1>
    <h2>Экологическое проектирование</h2>
    <p>Сайт в разработке</p>
</div>
