@page
@model PrivacyModel
@{
    ViewData["Title"] = "Эковат-Сервис Контакты";
}

<div class="text-center">
    <h1 class="display-4">Эковат-Cервис</h1>
    <h2>Экологическое проектирование</h2>
    <p>Сайт в разработке</p>
</div>
